mixin btn(settings)
  if (settings.type === "link")
    a(class= (settings.mod) ? 'btn btn--' + settings.mod : 'btn', href= settings.href)
      span= settings.content
  if (settings.type === "button")
    if (settings.disabled)
      button(class= (settings.mod) ? 'btn btn--' + settings.mod : 'btn', type=settings.btnType, disabled)
        span= settings.content
    else
      button(class= (settings.mod) ? 'btn btn--' + settings.mod : 'btn', type=settings.btnType)
        span= settings.content
